demo/run_iterative_registration.py
__pycache__/helperfunctions.cpython-38.pyc
__pycache__/iterative_registration.cpython-38.pyc
__pycache__/non_rigid_registration.cpython-38.pyc
__pycache__/robust_functions.cpython-38.pyc
__pycache__/skeleton_matching.cpython-38.pyc
__pycache__/skeleton.cpython-38.pyc
__pycache__/somSkeleton.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
__pycache__/visualize.cpython-38.pyc
